/* .navbar {
  width: 100%;
  background-color: black;
  color: white;
  height: 30px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 100% 10px;
}

.navbar a:hover {
  color: antiquewhite
} */
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  padding: 14px 16px;
  float: left;
  display: block;
}

.navbar a:hover {
  color: #333;
  background-color: white;
}

.active {
  background-color: rgb(114, 106, 106);
}