<div class="navbar">
  <a [routerLink]="['inicio']" routerLinkActive="active">Inicio</a>
  <a [routerLink]="['contenido']" routerLinkActive="active">Contenido</a>
  <a [routerLink]="['contacto']" routerLinkActive="active">Contacto</a>
</div>