div {
  width: 100%;
}

div .sidebar {
  height: 100vh;
  width: 20%;
  float: left;
  background-color: black;
  color: white;
}

div .sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 14px 0px;
  text-align: center;
}

div .sidebar a:hover {
  color: black;
  background-color: white;
}

.active {
  background-color: rgb(114, 106, 106);
}